<canvas #graph [width]="width" [height]="height" (mousemove)="showValues($event)" (mouseout)="figuresOff()" class="mat-elevation-z8">
    Your browser does not support the canvas tag
</canvas>
<div class="graph-figures">
    <div #fundsRemainingBox>
      <div></div>
        <div>Year Number: {{yearNum}}</div>
        <div>Remaining Funds: {{remainingFunds}}</div>
    </div>
  <div #annualIncomeBox>
    <div></div>
    <div>Year Number: {{yearNum}}</div>
    <div>Annual Income: {{annualIncome}}</div>
  </div>
</div>
