div.graph-figures {
  position: relative;

  > div {
    visibility: hidden;;
    position: absolute;
    width: fit-content;
    padding: 0.2rem;
    // height: 6rem;
    border-radius: 0.2rem;
    pointer-events: none;

    &:first-child {
      background-color: #fddad8;
      color: black;
    }

    &:nth-child(2) {
      background-color: #bac7ee;
      color: black;
    }

    border: 0.1rem solid #04045a;

    // Pointer tab on top of box
    > div:first-child {
      position: absolute;
      top: -6px;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;

      border-bottom: 5px solid rgb(197, 197, 197);
    }
  }
}
