@use '~@angular/material' as mat;
@import "../../styles.scss";

button {
  margin-right: 1rem;
}

mat-card {
  height: fit-content;
  margin: 1rem;
}
mat-form-field {
  width: 18rem;
}

.mat-card-title{
  font-size: 23.5px;

  @media only screen and (max-width: 60rem) {
    font-size: 20px;
    margin-left: 0.5rem;
  }
}

.help-button {
  color: mat.get-color-from-palette($dc-primary, 500);
  @media only screen and (max-width: 60rem) {
    margin-right: 0;
    width: 30px;
  }
}

div.help {
  position: relative;
  @media only screen and (min-width: 60rem) {
    left: 20rem;
  }

  > app-help {
    top: 12px;
    position: absolute;
    z-index: 2;
  }

  > div:first-child {
    position: absolute;
    top: -5px;

    left: 0.7rem;

    @media only screen and (max-width: 60rem) {
      left: 17.8rem;
    }

    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-bottom: 10px solid rgb(197, 197, 197);
    z-index: 3;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.grey {
  background-color: #3a3939;
}

.table-row {
  &:hover > td {
    border-top: rgb(61, 61, 165) solid 2px;
    border-bottom: rgb(61, 61, 165) solid 2px;
  }
}

th[class~="mat-header-cell"] {
  font-size: medium;
  font-weight: bold;
  padding-right: 3rem;
  color: rgb(185, 185, 5);
}

tr[class~="mat-header-row"] {
  background-color: rgb(0, 0, 0);
}

input {
  caret-color: black;
}

.dc-input-form {
  padding: 2em;
  height: fit-content;
}
