button
{
    margin-right: 1rem;
}

mat-form-field
{
    width: 18rem;
}

.flex-container
{
   display: flex;
   flex-wrap: wrap;
}

.table-container
{
   // margin-left: 4rem;
}

th[class~="mat-header-cell"]
{
    font-size: medium;
    font-weight: bold;
    padding-right: 3rem;
    color: yellow;
}

tr[class~="mat-header-row"]
{
    background-color: rgb(61, 61, 165);
}

.dc-input-form
{
    padding: 2em;
    margin-right: 3rem;
    height: fit-content;
}
